<div style="text-align:center"> 
    <h2>Lezione 15</h2>
</div>
<div>
  <h3>{{"Ciao " + name}}</h3>
  <button (click)="fireEvent()">Manda il Messaggio</button>
</div>
<div style=text-align:center>
  <h2>Lezione 16</h2>
</div>
<div>
  <h3>{{ newName }}</h3>
  <h3>{{ newName | lowercase}}</h3>
  <h3>{{ newName | uppercase}}</h3>
  <h3>{{ message }}</h3>
  <h3>{{ message | titlecase}}</h3>
  <h3>{{ name | slice:3:5}}</h3>
  <h3>{{ person | json}}</h3>

  <h3>{{ 5.678 | number:'1.2-3'}}</h3>
  <h3>{{ 5.678 | number:'3.4-5'}}</h3>
  <h3>{{ 5.678 | number:'3.1-2'}}</h3>
</div>
